@media only screen and (max-width: 2000px) {
	.menu-left{
		position: relative;
		display: flex;
		flex-direction: column;
		text-align: center;
		list-style: none;
		padding-left: 0px;
	}
	
	.menu-left li a{
		position: relative;
		display: inline-block;
		text-decoration: none;
		color: #696969;
		font-weight: 550;
		padding: 50px 0px 0px 15px;
		font-size: 25px;
		letter-spacing: 2px;
	}

	.clswidthimg{
		width: 30%;
		padding-top: 23px;
	}
	#user-img{
		/*text-align: center;*/
	}
  }

  @media only screen and (max-width: 1433px) {
	.menu-left{
		position: relative;
		display: flex;
		flex-direction: column;
		text-align: center;
		list-style: none;		
	}
	
	.menu-left li a{
		position: relative;
		display: inline-block;
		text-decoration: none;
		color: #696969;
		font-weight: bold;
		padding: 50px 0px 0px 15px;
		font-size: 19px;
		letter-spacing: 2px;
	}

	.clswidthimg{
		width: 60%;
		padding-top: 25px;
	}

	#user-img{
		margin-left: -18px;
		text-align: center;
	}
  }

  @media only screen and (max-width: 768px) {
	.menu-left{
		position: relative;
		display: flex;
		flex-direction: column;
		text-align: center;
		list-style: none;		
	}
	
	.menu-left li a{
		position: relative;
		display: inline-block;
		text-decoration: none;
		color: #696969;
		font-weight: bold;
		padding: 50px 0px 0px 15px;
		font-size: 12px;
		letter-spacing: 2px;
	}

	.clswidthimg{
		width: 80%;
		padding-top: 25px;		
	}

	#user-img{
		margin-right: 20px;
		text-align: center;
	}
  }


body {
	/*font-family: 'ＭＳ Ｐゴシック';*/
  }

.logo{
	/*margin-left: 14px;*/
	/*padding-top: 10px;*/
	position: relative;
}
.logo img{
	position: absolute;
	bottom: 0px;
}

.res-menu{
	position: relative;
	display: flex;
	background-color: #EEEEEE;
	/*margin-top: -16px;*/
}

.menu{
	background-color: #EEEEEE;
	height: 100vh;
	width: 100%;
}

.col-3 .text-hair
{
    position: relative;
    padding-top: 25px;
    z-index: 1;
    display: block;
	font-size: 30px;
}

.user-name{
    padding-top: 25px;
    font-size: 25px;
    text-align: right;
}
.user-name_ver{
    padding-top: 25px;
    font-size: 20px;
    text-align: right;
}

.title_cls{
	font-size: 30px;
	text-align: left;
	font-weight: bold;
	padding-top: 25px;
}

.title_cls_ver {
    font-size: 21px;
    text-align: left;
    font-weight: bold;
    padding-top: 25px;
}

.user-logout{
	padding-top: 27px;
	font-size: 20px;
}

.user-logout_ver{
	padding-top: 22px;
	font-size: 20px;
}
/* .sidenav {
	text-align: center;
}

.sidenav a {
	padding: 30px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	display: block;
	color: #363636;
} */





ul li a.active{
	color:#0066FF;
	text-decoration: underline;
}

hr {
	border: 0.5px solid #C0C0C0;
	width: 100%;
}


.main {
	/*font-size: 20px; !* Increased text to enable scrolling *!*/
	/*padding: 5px 5px;*/
	background-color: #fff;
	/*margin-left: 20px;*/
}



@media screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

.input-group-prepend {
	/*width: 20%;*/
}

.input-group-prepend .input-group-text {
	width: 100%;
	justify-content: center;
}

.invalid-feedback {
	margin-left: 20%;
}
input[type=checkbox], input[type=radio]{
	position: relative;
	font-size: 1rem;
}

input[type="radio"]:disabled {
	background: #000000!important;
	opacity: 1;
}
input[type="radio"]:checked:disabled:before {
	content: "";
	display: block;
	position: relative;
	top: 1px;
	left: 0px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: rgb(64, 77, 234);
}
.menu-left{
	text-align: left;
}
/*.container{*/
	/*padding-right:0 !important;*/
	/*padding-left:0 !important;*/
	/*max-width: initial !important;*/
/*}*/
.header-br{
	padding-bottom: 30px;
	border:0.5px solid #C0C0C0;
}
.header-wrap{
	padding:20px 0px;
}
.center_content{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.end_content{
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.start_content{
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.logo1{

}
.title_cls1{
	font-size: 30px;
}
.nav-custom{
	display: block;
}
#table_interview{
	min-width: 1496px;
	position: relative;
}

#table_list_tech{
	min-width:1030px;
}
#table_list_iq{
	min-width: 1070px;
}
#table_list_result{
	min-width: 1531px;
	position: relative;
}
#table_iq_option{
	min-width: 600px;
}
body img{
	max-width: 100%;
}
@media screen and (max-device-width : 500px){
	.option_header{
		width: 100%;
		margin-bottom: 10px;
	}
}
@media screen and (max-device-width : 576px){
	
	.input-group-prepend {
		width: auto !important;
	}

	.input-group-prepend .input-group-text {
		width: 100%;
		justify-content: center;
	}
	select {
	    font-size: 14px;
	}
	.menu-left li a{
		padding-top:20px;
	}


}
@media screen and (min-device-width : 768px) and (max-device-width : 992px){
	.title_cls1 {
		font-size: 26px;
	}
}