@media only screen and (max-width: 2000px) {
	.table-fixed tbody {
        overflow-x: auto;
        width: 100%;
    }   
}

@media only screen and (max-width: 1433px) {
	.table-fixed tbody {
        overflow-x: auto;
        width: 1200px;
    }

    #option-table thead{
        overflow-x: auto;
        width: 778px;
    }

    #option-table tbody{
        overflow-x: auto;
        width: 778px;
    }
    
    .table-fixed thead,
    .table-fixed tbody,
    .table-fixed tr,
    .table-fixed td,
    .table-fixed th {
        display: block;
    }
}

.btn-left-sales {
	margin-right: 2%;
}

.status{
    padding: 15px 15px 5px;    
    margin: 0px 0px 0px 15px;
}

.searchSales{
	border-color: #ddd;
    border-width: 2px;
	border-radius: 4px 4px 0 0;
	padding: 5px 15px 5px;    
    border-color: #e5e5e5 #eee #eee;
	border-style: solid;
    text-align: center;
    margin: 0px 0px 0px 15px;
}

.searchSales2{
	border-color: #ddd;
    border-width: 2px;
	border-radius: 4px 4px 0 0;
	padding: 15px 15px 5px;    
    border-color: #e5e5e5 #eee #eee;
	border-style: solid;
    text-align: center;
    margin: 0px 0px 0px 15px;
}

.boderStatus{
    border-color: #ddd;
    border-width: 2px;
	border-radius: 4px 4px 0 0;
	padding: 15px 15px 5px;    
    border-color: #e5e5e5 #eee #eee;
	border-style: solid;
    text-align: center;
}

.marBot15 {
    margin-bottom: 10px;
}

.buttonSales{
    
    text-align: center;
}
.clsCenter{
    text-align: center;
}

.errorSearch{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.searchResult{
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
    height: 30px;
}

.datetimepicker-input[readonly]{
    background-color: white;
}

.searchBefore{
    height: 30px;
    margin-bottom: 5px;
}

.searchBeforeError{
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: #e69aa1;
    border-color: #fc0000;
    color: #b80012;
    height: 30px;
}

.statusBefore {    
    height: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.statusResult {
    border: 1px solid transparent;
    border-radius: .25rem;
    border-color: #4ec943;

    background-color: #c1fcda;    
    color: #4a9443;  

    padding-left: 15px;
    height: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.buttonAdd{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.buttonAdd2{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

.H2buttonAdd2{
    
    margin-bottom: 0px;
}

.add-new-btn-sales{
    margin-right: 10px;
}

.btn{
    /*width: 120px;*/
}

/*.table-fixed thead,*/
/*.table-fixed tbody,*/
/*.table-fixed tr,*/
/*.table-fixed td,*/
/*.table-fixed th {*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
/*}*/

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    padding:5px 2px;
    font-size: 15px;
    /*float: left;*/
    /*position: relative;*/

    &::after {
        content: '';
        clear: both;
        display: block;
    }
}

.table-bordered th{
    border-right: 1px solid #bdbdbd;   
}

.table-bordered td {      
    border-right: 1px solid #bdbdbd;   
}

.select-shop2{
    width: 100%;
    border-radius: 5px;
    align-items: center;    
}

#countryList{
    margin-left: 20%;
    width: 100%;
}

.saleoff-checkbox {
    height: 2em;
    width: 1.25em;
}

a.disabled {
    pointer-events: none;
    color: #ccc;
}
