.table-header {
	background-color: #e8e8e8;
}
.table-bordered td, .table-bordered th {
	/* border: 1px solid #bdbdbd; */
}
.table thead th {
    text-align: center;
    border-bottom: none;
}
tbody {
	text-align: center;
}
.wrapper-select {
	padding-top: 3px;
	padding-bottom: 3px;
	display: flex;
}
.form-control .select-shop {
	width: 40%;
	border-radius: 5px;
	align-items: center;
	margin-right: 30px;
}
.option-amount {
    align-self: center;
}
.form-group-button {
	display: flex;
	justify-content: center;
}

.btn-left {
	margin-right: 2%;
}
.border-bottom {
	border-bottom: 1px solid #ced4da; 
	line-height: normal;
}
.padding-20 {
	padding: 20px;
}
.add-new-btn {
	margin-right: 30px;
}
.header-index {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}
.alert {
	margin-bottom: 0px;
	padding: .2rem 1.25rem;
	white-space: nowrap;
}