.logo {
    margin: 30px 0;
    position: relative;
    padding-bottom: 30px;
}

dl, ol, ul{
    margin: 0;
}

.logo img {
    margin-left: -15px;
}
.logo:after {content: "";position: absolute;bottom: 0;left: 50%;width: 50%;height: 1px;background: #b1b1b1;transform: translateX(-50%);}

.infouser input[type="text"], .infouser select {
    width: 100%;
    border: 1px solid #d0d0d0;
    padding: 5px;
}

.infouser input[type="text"]:focus, .infouser select:focus {
    box-shadow: 0px 0px 2px #007bff;
    outline: 0;
}

.optiongroup input {display: none;}

.optiongroup label {
    width: 16%;
    margin-left: 20px;
    cursor: pointer;
}

.checkboxcss {
    border: 1px solid #d6d6d6;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
}

.optiongroup input:checked + .checkboxcss {
    background: #007bff;
    box-shadow: 0px 0px 3px #007bff;
}

.infouser td {
    position: relative;
    vertical-align: middle;
}

.infouser td table th {font-size: 12px;padding: 10px;}

.infouser td table td {
    padding: 10px;
}

.listtest {
    margin: 30px 0;
}

.listtest label {
    width: 100%;
    margin-left: 20px;
}

.question {
    margin-bottom: 15px;
    display: flex;
}

.anser input {
    display: none;
}

.radioboxcss {
    width: 15px;
    height: 15px;
    border: 1px solid #898989;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.anser input:checked + .radioboxcss {
    background: #007bff;
    box-shadow: 0px 0px 3px #007bff;
    border-color: #007bff;
}

.test {
    margin-bottom: 20px;
}

.toptest {
    background: #221e1f;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
}

.toptest h2 {
    font-size: 28px;
    width: 90%;
    float: left;
    margin: 0;
    padding: 10px 30px 11px;
}

.counttime {
    width: 10%;
    float: left;
    text-align: center;
    background: #bb162d;
    padding: 10px;
    position: relative;
}

.counttime:before {content: "";position: absolute;top: 0;left: -20px;height: 100%;/* border-top: 0px solid transparent; */border-left: 20px solid transparent;/* border-right: 20px solid #bb162d; */border-bottom: 50px solid #bb162d;}
.listtest textarea {
    width: 100%;
}
.scrollbar.sticky {
    position: fixed;
    width: 100%;
    z-index: 999;
    /* background: #ccc; */
    top: 0;
}
td.candidateid {
    /* display: flex; */
}

div#btnload {
    width: 180px;
    background: #007bff;
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}

div#btnload:hover {
    background: #0077f6;
}

footer{
    margin: 50px 0;
}
div#errorcandi {
    padding: 5px;
    margin: 0;
}

iframe#iframe-test {
    width: 100%;
    box-shadow: none;
    border: none;
    height: 98vh;
}
.header{
    position: relative;
}
.user_info{
    position: absolute;
    top:20px;
    right:20px;
}
@media screen and (max-width: 576px ){
    .user_info{
        position: relative;
        top:10px;
        right:auto;
    }
}

